.textRed {
	color: var(--red);
}

.textGrey {
	color: grey;
}

.textLight {
	color: var(--light);
}

.textOrange {
	color: var(--primary);
}

.textWhite {
	color: #fff;
}

.textBlack {
	color: #000;
}
