.TSmall {
	font-size: 12px;
	font-weight: 400;
}

.TSmallMedium {
	font-size: 12px;
	font-weight: 500;
}

.TSmallLarge {
	font-size: 12px;
	font-weight: 700;
}

.TMiddle {
	font-size: 14px;
	font-weight: 400;
}

.TMiddleMedium {
	font-size: 14px;
	font-weight: 500;
}

.TMiddleLarge {
	font-size: 14px;
	font-weight: 700;
}

.TText {
	font-size: 16px;
	font-weight: 400;
}

.TTextMedium {
	font-size: 16px;
	font-weight: 500;
}

.TTextLarge {
	font-size: 16px;
	font-weight: 700;
}

.TSubTitle {
	font-size: 18px;
	font-weight: 400;
}

.TSubTitleMedium {
	font-size: 18px;
	font-weight: 500;
}

.TSubTitleLarge {
	font-size: 18px;
	font-weight: 700;
}

.TTitle {
	font-size: 20px;
	font-weight: 400;
}

.TTitleMedium {
	font-size: 20px;
	font-weight: 500;
}

.TTitleLarge {
	font-size: 20px;
	font-weight: 600;
}

.THead {
	font-size: 27px;
	font-weight: 400;
}

.THeadMedium {
	font-size: 27px;
	font-weight: 500;
}

.THeadLarge {
	font-size: 27px;
	font-weight: 600;
}

.fwBold {
	font-weight: bold;
}

.fwMedium {
	font-weight: 500;
}
