.UPointer {
	cursor: pointer;
}

.UUnderline {
	text-decoration: underline;
}

.UTextCenter {
	text-align: center;
}

.USpacer {
	flex: 1;
}

.ULargeBr {
	border-radius: 16px;
}

.USmallBr {
	border-radius: 8px;
}

.UHoverShadow {
	transition: .3s ease;

	&:hover {
		transition: .3s ease;
		box-shadow: var(--box-shadow);
	}
}

.UDesktop {
	@media (max-width: 768px) {
		display: none;
	}
}

.UMobile {
	@media (min-width: 768px) {
		display: none;
	}
}
