.UPointer {
	cursor: pointer;
}

.UTextCenter {
	text-align: center;
}

.USpacer {
	flex: 1;
}

.ULargeBr {
	border-radius: 16px;
}

.USmallBr {
	border-radius: 8px;
}

.UDesktop {
	@media (max-width: 768px) {
		display: none;
	}
}

.UMobile {
	@media (min-width: 768px) {
		display: none;
	}
}
