:root {
	--primary: #001790;
	--primary-light: #cef7ff;
	--secondary: #00fff7;
	--error: #d10404;
	--warn: #eca825;
	--gray: #aeaeae;
	--gray-bg: #dfdfdf;
	--ligh-bg: #f3f3f3;
	--white-bg: #fff;

	--border-large: 16px;
	--border-small: 8px;

	--hover-btn: #efefef;

	--box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
}
