:root {
	// colors
	--primary: #FFB85D;
	--light: #F1F1F1;
	--red: #FF5412;

	// borers
	--border-large: 16px;
	--border-small: 8px;

	// main hover

	--box-shadow: 0px 0px 4px 0px rgba(66, 68, 90, 1);
}
